export("%X%", "%+%")
exportPattern("^[[:alpha:]]+")
S3method("as.garray", "garray")
S3method("as.garray", "default")
S3method(as.data.frame, "garray")
S3method(print, "garray")
S3method(dim, "garray")
S3method(`dim<-`, "garray")
S3method(`[`, "garray")
S3method(`[<-`, "garray")
S3method(aperm, "garray")
S3method("psummary", "garray")
S3method("psummary", "default")
S3method(Ops, "garray")
